bazel-bin
bazel-out
bazel-testlogs
bazel-power-calculator
test/autogen-tests/autogentest.tc
test/autogen-tests/pcalc.expect
test/autogen-tests/pcalc.out
test/autogen-tests/__pycache__/autogen_helpers.cpython-39.pyc
